<div class="container  	">
    <ul class="list-disc">
        <li class="">
          <h3>Développeur, Stage au sein de Open!</h3>
            <a href="https://www.stayopen.io/">Stayopen</a><p>full remote</p>
          <p>12/2023 à 02/2024</p>
        </li>
      
        <li class="">
          <h3>Directeur d'exploitation</h3>
          <a href="https://pathe.fr/">Cinémas Pathé</a><p>Lyon</p>
          <p>2020 à 2022</p>
        </li>
      
        <li class="">
          <h3>Directeur adjoint d'exploitation</h3>
          <a href="https://wwwpathe.fr/">Cinémas Pathé</a><p>Lyon</p>
          <p>2017 à 2020</p>
        </li>
      
        <li class="">
          <h3>Responsable d'exploitation</h3>
          <a href="https://www.pathe.fr/">Cinémas Pathé</a><p>Caen</p>
          <p>2002 à 2017</p>
        </li>
        </ul>
    </div>