<div class="container">

    <ul class="list-disc" >
        <li class="diplomes">
          <h3>DWWM, Développeur Web et Web Mobile</h3>
      
          <a href="https://www.creative-formation.fr/">Creative Formation</a><p>Hérouville Saint-clair</p>
          <p>06/2023 à 03/2024</p>
        </li>
      
        <li class="diplomes">
          <h3>DISLOG, Manager Logistique Agroalimentaire BAC+3</h3>
          <a href="https://fim.fr/">Groupe FIM</a><p>Saint-Lô</p>
          <p>2002</p>
        </li>
      
        <li class="diplomes">
          <h3>BTS, Comptabilité Gestion</h3>
          <a href="https://www.lycee-sainte-ursule.fr/">Lycée Sainte Ursule</a><p>Caen</p>
          <p>2000</p>
        </li>
      
      </ul>
      </div>